<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Password</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="dark-theme">
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/add_password">Add Password</a>
        <a href="/admin_login">View Passwords</a>
        <a href="/encrypt_decrypt">Encrypt / Decrypt</a>
        <a href="/">Logout</a>
    </div>
    <div class="content">
        <h1 class="fluo">Add Password</h1>
        <form action="{{ url_for('add_password') }}" method="POST">
            <label for="service">Service</label>
            <input type="text" id="service" name="service" required>

            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password</label>
            <input type="text" id="password" name="password" required>

            <button type="button" id="generatePassword" class="btn-submit">Generate Password</button>
            <button type="submit" class="btn-submit">Save Password</button>
        </form>

        {% if message %}
        <p class="generated-password">{{ message }}</p>
        {% endif %}
    </div>

    <script>
        document.getElementById("generatePassword").onclick = function() {
            fetch('/generate_password')
                .then(response => response.json())
                .then(data => {
                    document.getElementById("password").value = data.password;
                });
        };
    </script>
</body>
</html>
