<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="dark-theme">
    <div class="navbar">
        <a href="/">Home</a>
    </div>

    <div class="content">
        <h1 class="fluo">Admin Login</h1>
        <form action="/view_password" method="GET">
            <label for="username">Admin Username</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Admin Password</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" class="btn-submit">Login</button>
        </form>
    </div>
</body>
</html>
