<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Passwords</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="dark-theme">
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/add_password">Add Password</a>
        <a href="/admin_login">View Passwords</a>
        <a href="/encrypt_decrypt">Encrypt / Decrypt</a>
        <a href="/">Logout</a>
    </div>
    <div class="content">
        <h1 class="fluo">View Saved Passwords</h1>
        <form action="/search_password" method="POST"> <!-- Change method to POST -->
            <label for="search_type">Search By:</label>
            <select name="search_type" id="search_type">
                <option value="username">Username</option>
                <option value="service">Service</option>
            </select>
            <input type="text" name="search_value" required>
            <button type="submit" class="btn-submit">Search</button>
        </form>

        <h2>Stored Passwords</h2>
        <table>
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                {% for password in passwords %}
                <tr>
                    <td>{{ password.service }}</td>
                    <td>{{ password.username }}</td>
                    <td>{{ password.password }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
